<!-- We include the sidebar as it is shared across two screens. -->
<!--<ng-include src="'partials/music-quiz-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>-->

<!-- TODO in Lab 5: Display the dish information including image, Description,
Instructions, Ingredients and total cost. -->
<style>
  div.top-addButton {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 40%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 40px;
   line-height: 40px;
   text-align: center;
   width: 90px;
 position: absolute;
 left: 15.7em;
 top: 5em;
}

span.album-addButton {
  display: inline-block;
 background-color: #39D1B4;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 20px;
   line-height: 20px;
   text-align: center;
   width: 20px;
 //position: absolute;
 right: 0px;
}

h1 {
  position: absolute;
  left: 8em;
}
div.albums {
  display: inline-block;
  margin-bottom: 0.7em;
  width: 30em;
}

span.albumName {
  font-weight: bold;
  //margin-left: 2em;
}

span.numberOfSongs {
  width: 20em;
  margin-left: 5em;
}

span.album-addButton {
  //margin-left: 5em;
}

#detailsView {
  position: absolute;
  margin-top: 10%;
  margin-left: 18%;
}

#addButton {
  border: none;
  background: none;
  width: 20px;
  padding: 0;
  margin-left: 6em;
}
</style>



<div id="detailsView">
<div class="content">
  <div id="nameAndImage">
    <h1>Artist</h1>
    <img src="/images/albumImage.jpg" style="max-width:200px;max-height:200px;">
    <div class="top-addButton">Add</div>
    <br>

  </div>
  <div class="albums" >
    <h2>Albums</h2>
    
        <div class="albums"><!-- ng-repeat="">-->
          <span class="albumName">NameOfAlbum 1 </span>
          <span class="numberOfSongs">NumberOfSongs 1 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>     

        <div class="albums"> <!--ng-repeat="">-->
          <span class="albumName">NameOfAlbum 2 </span>
          <span class="numberOfSongs">NumberOfSongs 2 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>     

        <div class="albums"><!-- ng-repeat="">-->
          <span class="albumName">NameOfAlbum 3 </span>
          <span class="numberOfSongs">NumberOfSongs 3 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>     

        <div class="albums"><!--ng-repeat="">-->
          <span class="albumName">NameOfAlbum 4 </span>
          <span class="numberOfSongs">NumberOfSongs 4 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>        
   
    </div>
    <div id="confirm-Button">
      <a href="#"><button type="button" id="con-btn" class="btn btn-warning" ng-click="">Confirm</button></a>
    </div>
  </div>


  

</div>
