<!-- We include the sidebar as it is shared across two screens. -->
<!--<ng-include src="'partials/music-quiz-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>-->

<!-- TODO in Lab 5: Display the dish information including image, Description,
Instructions, Ingredients and total cost. -->

<style>
  div.top-addButton {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 40%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 40px;
   line-height: 40px;
   text-align: center;
   width: 90px;
 position: absolute;
 left: 15.7em;
 top: 5em;
}

span.album-addButton {
  display: inline-block;
 background-color: #39D1B4;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 20px;
   line-height: 20px;
   text-align: center;
   width: 20px;
 //position: absolute;
 right: 0px;
}

div#nameAndImage h1 {
  position: absolute;
  left: 4.5em;
}

div.albums {
  display: inline-block;
  margin-bottom: 0.7em;
  width: 30em;
}

span.albumName {
  font-weight: bold;
  //margin-left: 2em;
}

span.numberOfSongs {
  width: 20em;
  margin-left: 5em;
}
/*
span.album-addButton {
  //margin-left: 5em;
}
*/

div#detailsView {
  position: absolute;
  margin-top: 10%;
  margin-left: 18%;
}

button#addButton {

    right: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-right: -40px;
    border: none;
    background: none;
    line-height: 0;

}


ul.collapsible{
  width: 50em;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 0.7em;
}


div#albums {
  display: inline-block;
  margin-bottom: 0.7em;
  width: 20em;
}
/*
span#albumName {
  font-weight: bold;
  //margin-left: 2em;
}

span#numberOfSongs {
  width: 20em;
  margin-left: 5em;
}

span#album-addButton {
  //margin-left: 5em;
}
*/
span.song {
  margin-left: 2em;
  margin-bottom: 0;
  //width: 100%;
}

span.song:hover {
  //background-color: blue;
  color: red;
  font-size: 16px;
}

body {
  position: relative; !Important
  overflow: scroll;
  position: behimd
}


</style>
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<!-- Socicon (social icons) -->
<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import font-->
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">




<!--Ny-->



<ng-include src="'partials/sidebarView.html'" ng-controller="SidebarCtrl"></ng-include>

<div id="detailsView">
<div class="content">
  <div id="nameAndImage">
    <h1>Artist</h1>
    <img src="/images/albumImage.jpg" style="max-width:200px;max-height:200px;">
    <div class="top-addButton">Add</div>
    <br>

  </div>
  <div class="albums" >
    <h2>Albums</h2>

        <!-- div class="albums">--><!-- ng-repeat="">-->
          <!--<span class="albumName">NameOfAlbum 1 </span>
          <span class="numberOfSongs">NumberOfSongs 1 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>

        <div class="albums">--> <!--ng-repeat="">-->
          <!--<span class="albumName">NameOfAlbum 2 </span>
          <span class="numberOfSongs">NumberOfSongs 2 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>

        <div class="albums">--><!-- ng-repeat="">-->
          <!--<span class="albumName">NameOfAlbum 3 </span>
          <span class="numberOfSongs">NumberOfSongs 3 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>

        <div class="albums">--><!--ng-repeat="">-->
          <!--<span class="albumName">NameOfAlbum 4 </span>
          <span class="numberOfSongs">NumberOfSongs 4 </span>
          <button id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
        </div>         -->



        <!--<div class="container work">-->
      <ul class="collapsible popout" id="albums" data-collapsible="accordion">
          <li style="vertical-align: middle" >
            <div class="collapsible-header hoverable" id="albumName" style="position: relative"> 
              <span class="subtitle work-text left"> Img</span> 
              <span class="subtitle work-text center" style="padding-left: 8em"> TitleOnAlbum 1</span>
              <span class="subtitle work-text right" id="numberOfSongs">NumberOfSongs 1</span>
          <button style="display: inline-block; vertical-align: middle" id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
             
            </div>
            <div class="collapsible-body">              
              <span class="song">Song 1</span><br>
               <span class="song">Song 2</span><br>
                <span class="song">Song 3</span><br>
                 <span class="song">Song 4</span><br>
                  <span class="song">Song 5</span><br>
                   <span class="song">Song 6</span><br>
                    <span class="song">Song 7</span><br>
                     <span class="song">Song 8</span><br>
                      <span class="song">Song 9</span><br>
            </div>
          </li>


          <li style="vertical-align: middle">
            <div class="collapsible-header hoverable" id="albumName" style="position: relative"> 
            <span class="subtitle work-text left">Img</span> 
            <span class="subtitle work-text center" style="padding-left: 8em">TitleOnAlbum 2</span>
            <span class="subtitle work-text right" id="numberOfSongs">NumberOfSongs 2</span>
            <button style="display: inline-block; vertical-align: middle" id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
           
          </div>
          <div class="collapsible-body">
            <span>Song 1</span><br>
               <span>Song 2</span><br>
                <span>Song 3</span><br>
                 <span>Song 4</span><br>
                  <span>Song 5</span><br>
                   <span>Song 6</span><br>
                    <span>Song 7</span><br>
                     <span>Song 8</span><br>
                      <span>Song 9</span><br>
                      <button>Add</button>
          </div>
        </li>
        <!--</div>-->

        <li style="vertical-align: middle">
            <div class="collapsible-header hoverable" id="albumName" style="position: relative"> 
            <span class="subtitle work-text left">Img</span> 
            <span class="subtitle work-text center" style="padding-left: 8em">TitleOnAlbum 3</span>
            <span class="subtitle work-text right" id="numberOfSongs">NumberOfSongs 3</span>
            <button style="display: inline-block; vertical-align: middle" id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
           

          </div>
          <div class="collapsible-body">
            <span>Song 1</span><br>
               <span>Song 2</span><br>
                <span>Song 3</span><br>
                 <span>Song 4</span><br>
                  <span>Song 5</span><br>
                   <span>Song 6</span><br>
                    <span>Song 7</span><br>
                     <span>Song 8</span><br>
                      <span>Song 9</span><br>
          </div>
        </li>

        <li style="vertical-align: middle">
            <div class="collapsible-header hoverable" id="albumName" style="position: relative"> 
            <span class="subtitle work-text left">Img</span> 
            <span class="subtitle work-text center" style="padding-left: 8em">TitleOnAlbum 4</span>
            <span class="subtitle work-text right" id="numberOfSongs">NumberOfSongs 4</span>
            <button style="display: inline-block; vertical-align: middle" id="addButton" ng-click="" ><span class="album-addButton">+</span></button>
           

          </div>
          <div class="collapsible-body">
            <span>Song 1</span><br>
               <span>Song 2</span><br>
                <span>Song 3</span><br>
                 <span>Song 4</span><br>
                  <span>Song 5</span><br>
                   <span>Song 6</span><br>
                    <span>Song 7</span><br>
                     <span>Song 8</span><br>
                      <span>Song 9</span><br>
          </div>
        </li>

</ul>

    </div>
    <div id="confirm-Button">
      <a href="#"><button type="button" id="con-btn" class="btn btn-warning" ng-click="">Back</button></a>
    </div>
  </div>










</div>
