<header class="header" style="display:flex;z-index:1;">
  <a ng-href="#!/home">
    <img src="http://www.freeiconspng.com/uploads/record-icon-9.png" style="max-width:60px;max-height:60px;position:absolute;top:20px;left:20px;">
    <h1>Online Music Quiz</h1>
  </a>
  <div style="position:absolute;top:25px;right:25px;" class="dropdown">
    <button class="dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="signIn()">
      <span class="glyphicon glyphicon-user" style="font-size: 3em;"/>
    </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Saved Quiz</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</header>
