<style>
html, body, .wrap {
  height: 100%;
}

#centerMessage{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/43/39/9a/43399abcefa8b2b516b08921e2054a9e.jpg");
  /*background-size: 100% 100%;*/
  background-size:cover;
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: scroll;
  background-attachment: fixed;
  bottom: 0px;
  left:0px;
}

#createQuizButton {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 50px;
   line-height: 20px;
   text-align: center;
   width: 150px;
 //position: absolute;
 right: 0px;
  margin-left:46%;
}

</style>

<div id="centerMessage">
<h2 style="color:white;text-align:center;padding-top:300px;">Welcome to the</h2>
<h1 style="color:white;text-align:center;">Music Quiz!</h1>
<a href="quizView.html" ><button type="button" id="createQuizButton">Create Quiz!</button></a>
</div>
