<style>
  #quizView {
  	margin-top: 10%;
    height: 100%;
    overflow: hidden;
  }
  h3 small {
    font-size: 85%;
  }
  ul.quizchoices {
  	list-style-type: none;
    font-size: 16px;
  }
  .choiceText {
  	font-weight: normal;
  	padding-left: 10px;
  }
  .progress {
  	width: 20%;
  	margin-left: 75%;
  }
  .progress-bar {
    background-color: #39D1B4;
  }
  .question {
  	width: 80%;
  	text-align: center;
  	margin-left: 10%;
  	padding-top: 5%;
  }
  .question button {
  	margin-left: 65%;
    margin-top: 5%;
    font-size: 16px;
    background-color: #39D1B4;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    height: 50px;
    line-height: 20px;
    text-align: center;
    width: 125px;
  }
  .question button:hover {
    background-color: #097054;
    color: #fff;
  }
  audio {
  	width: 500px;
  }
  .audioplayer {
  	padding-bottom: 50px;
  }
</style>

<div id="quizView">
  <!-- Progress Bar -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressValue}}%;">
      <span>{{questionNumber}}/{{numberOfQuestions}}</span>
    </div>
  </div>

  <!-- Question part -->
  <div class="question">
    <div class="audioplayer">
      <!-- TODO random audio sample -->
      <audio src="{{track.preview_url}}" preload="auto" controls autoplay>Your browser does not support the audio element.</audio>
    </div>
    <h3>Question <span>{{questionNumber}}</span>. <small>What is the name of that song ?</small></h3>
    <ul class='quizchoices' >
      <li ng-repeat="option in options track by $index">
        <input type="radio" name="options" id="{{option}}" value="{{option}}" ng-value="{{option}}" ng-model="select" ng-change="selectAnswer(select)"/><label class="choiceText" for="{{option}}">{{option}}</label>
      </li>
    </ul>
    <div ng-if="questionNumber != numberOfQuestions"><button class="btn" ng-click="setNextQuestion()">Next</button></div>
    <div ng-if="questionNumber == numberOfQuestions"><a ng-href="#!/results" id="endQuizButton"><button class="btn" ng-click="endQuiz()">Finish</button></a></div>
  </div>
</div>
