<style>
#foot {
  position:absolute;
  left:0px;
  top:780px;
  bottom:0px;
  width:100%;
  background-color:#097054;
}
</style>

<div id="quizView">
  <!-- Progress Bar -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressValue}}%;">
      <span>{{questionNumber}}/{{numberOfQuestions}}</span>
    </div>
  </div>

  <!-- Question part -->
  <div class="question">
    <div class="audioplayer">
      <audio ng-src="{{track.preview_url}}" preload="auto" controls autoplay>Your browser does not support the audio element.</audio>
    </div>
    <h3>Question <span>{{questionNumber}}</span>. <small>What is the name of that song ?</small></h3>
    <ul class='quizchoices'>
      <li ng-repeat="option in options track by $index">
        <input type="radio" name="options" id="{{option}}" value="{{option}}" ng-value="{{option}}" ng-model="select" ng-change="selectAnswer(select)"/><label class="choiceText" for="{{option}}">{{option}}</label>
      </li>
    </ul>
    <div ng-if="questionNumber != numberOfQuestions"><button class="btn" ng-click="setNextQuestion()">Next</button></div>
    <div ng-if="questionNumber == numberOfQuestions"><a ng-href="#!/results" id="endQuizButton"><button class="btn" ng-click="endQuiz()">Finish</button></a></div>
  </div>

  <div id="foot"></div>
</div>
