<div id="result">

  <div id="resultSummary">
    <h2 style="text-align:center;padding-top:40px">Congratulations!</h2>
    <h2 style="text-align:center;padding:20px;">You answered <span class="nog5"></span>{{ score }} out of {{ numberOfQuestions }} questions correctly!</h2>
    <a ng-href="#!/search"><button type="button" class="quizButton">Create new quiz!</button></a>
  </div>

  <div id="quizInfo">
    <h2 style="text-align:center;padding:35px;color:white;">Here's a summary of your answers</h2>
    <div ng-repeat="song in quizSongs" >
      <p style="text-align:center;color:white;">{{ song.rightOrFalseAnswer song.questionNr: song.title by song.bandName }}</p>
  </div>
</div>
