<style>
table{
    table-layout: fixed;
    width: 400px;
}
h4 {
  color:white;
}

</style>

<div id="result">

  <div id="resultSummary">
    <h2 style="text-align:center;padding-top:40px">Congratulations!</h2>
    <h2 style="text-align:center;padding:20px;">You answered <span class="nog5"></span>{{ score }} out of {{ numberOfQuestions }} questions correctly!</h2>
    <a ng-href="#!/search"><button type="button" class="quizButton">Create new quiz!</button></a>
  </div>

  <div id="quizInfo">
    <h2 style="text-align:center;padding:35px;color:white;">Here's a summary of your answers</h2>
    <div ng-repeat="answer in listOfAnswers track by $index" style="padding-left:40%;" >
      <table>
        <colgroup>
          <col style="width:10%">
          <col style="width:70%">
          <col style="width:20%">
        </colgroup>
        <tr>
          <td> <h4> {{ $index + 1 }} </h4> </td>
          <td> <h4> {{ answer.key }} </h4> </td>
          <td> <h4> {{ answer.value}} </h4> </td>
        </tr>
      </table>
      <!--<p style="text-align:center;color:white;"> {{ $index + 1 }} {{ answer.key }} {{ answer.value}}</p>-->
  </div>
</div>
