<style>
	#searchDiv {
		position:fixed;
		top:100px;
		left:350px;
		padding:50px;
		width: 70%;
	}

	#search-form {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
	}

	#artist {
		width: 60%;
		min-width: 300px;
		margin-right: 10px;
	}

	.listlink {
		color: black;
		cursor: pointer;

	}
	#wrapper {
		max-width: 1000px;
		position: relative;
		width: 70%
		height: 50%;
	}

	#artistFieldWrapper{
		position:fixed;
		top:250px;
		left:350px;
		padding-left:20px;
		padding-right:20px;
		width: 70%;
		height: 100%;
		overflow:auto
	}

	table#searchTable tr:nth-child(even) {
		background-color: #eee;
	}

	::-webkit-scrollbar {
    display: none;
	}

	table#searchTable{
		display: -webkit-box;
		width: 100%;
		min-width: 400px;
	}

	table#searchTable tr{
		display: -webkit-box;
		-webkit-box-pack: center;
		display: inline-block;
		height: 80px;
		margin: 4px auto;
		width: 100%;
		min-width: 400px;
		-webkit-border-radius:10px;
		opacity: 0.6;
		-webkit-transition: opacity .1s, margin-top .1s, margin-bottom .1s, background .1s;
	}

	table#searchTable tr:hover{
		opacity: 1;
		margin-top: 12px;
		margin-bottom: 12px;
		background: #1ec7e6;
	}

	#artistCover {
		float: left;
		margin: 10 auto;
		margin-left: 10px;
		height: 80px;
		width: 80px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;

	}

	#artistName {
		float: left;
		margin-left: 10px;
		height: 75px;
	}

	</style>

	<ng-include src="'partials/sidebarView.html'" ng-controller="SidebarCtrl"></ng-include>

	<div id="searchDiv">
		<form id="search-form">
			<input type="text" ng-model="query" id="artist" value="" class="form-control" placeholder="Search for artist"/>
			<input type="submit" id="search" class="btn btn-primary" value="Search" ng-click="search(query)"/>
		</form>
		<div id="results"></div>
	</div>

	<div id="artistFieldWrapper">
	<div id="wrapper">
		<!-- drag and drop example code: http://codef0rmer.github.io/angular-dragdrop/#!/ -->
		<!-- <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div> -->

		<table id="searchTable">
			<tr ng-repeat="artist in music">
				<td id={{$index}} data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true,placeholder:'keep',onDrag:'addToDrag(this)'}">
					<a class="listlink" ng-href="#!/details/{{artist.id}}">
						<img id="artistCover" ng-src="{{artist.images[0].url}}">
						<div id="artistName">{{artist.name}}</div>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
 </html>
