<style>
	#wrapper {
		max-width: 1000px;
		margin: 20px;
		position: absolute;
		top:330px;
		left: 400px;
	}

	table#searchTable tr:nth-child(even) {
    background-color: #eee;
	}

	table#searchTable{
		width: 100%;
	}

	table#searchTable tr{
		height: 80px;
		margin: 10px:
	}

	#imgCropper {
		width: 75px;
		height: auto;
		position: relative;
		overflow: hidden;
	}

	#artistCover {
		float: left;
		margin: 10 auto;
		margin-left: 10px;
		height: 75px;
		width: 75px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	#artistName {
		float: left;
		margin-left: 10px;
		height: 75px;
	}

	.container {
		position:absolute;
		top:100px;
		left:350px;
		padding:50px;
		width: 50%;
	}
	
	#search-form {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
	}
	
	#query {
		width: 75%;
		min-width: 300px;
		margin-right: 10px;
	}
	
	.listlink {
		color: black;
		cursor: pointer;
	}
	</style>

	<ng-include src="'partials/sidebarView.html'" ng-controller="SidebarCtrl"></ng-include>

	<div class="container">
		<form id="search-form">
			<input type="text" ng-model="query" id="query" value="" class="form-control" placeholder="Search for artist"/>			
			<input type="submit" id="search" class="btn btn-primary" value="Search" ng-click="search(query)"/>
		</form>
		<div id="results"></div>
	</div>
		<div id="wrapper">
			<!-- drag and drop example code: http://codef0rmer.github.io/angular-dragdrop/#!/ -->
			<!-- <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div> -->

			<table id="searchTable">
				<tr ng-repeat="artist in music">
					<td id={{$index}} data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true, onDrag:'addToDrag(this)'}">
						<a class="listlink" ng-href="#!/details/{{artist.id}}">
							<img id="artistCover" ng-src="{{artist.images[0].url}}">
							<div id="artistName">
								{{artist.name}}
							</div>
						</a>
					</td>
				</tr>
			</table>
		</div>
 </html>
