<link rel="stylesheet" type="text/css" href="../style.css">

<style>
.sidebar {
  position: fixed;
}
.dropTable {
  background-color:white;
  margin-left: 5%;
  width:300px;
  min-height: 150px;
  border-style: solid;
  text-align: center;
  padding-top:15%;
}
ul#listTable {
    list-style-type: none;
}
</style>

<div class="sidebar">
	<div><h2 style="text-align:center;color:white;">Settings</h2>
		<hr>
		<h4 style="text-align:center;color:white;">Nr of Questions <input type="number" style="width:50px;color:black;" ng-model="numberOfQuestions" ng-change="setNumberOfQuestions(numberOfQuestions)"/></h4>
		<h4 style="text-align:center;color:white;">Music</h4>
	</div>
    <div class="dropTable" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop: 'saveList()'}">
      <div ng-hide="listView.length > 0">Drag and drop music here</div>
      <ul id="listTable">
        <li ng-repeat="item in listView">
          <div data-drag="false" data-jqyoui-options jqyoui-draggable>{{item.name}}
            <button class="glyphicon glyphicon-trash btn-md" ng-click="removeMusic(item)"></button>
          </div>
        </li>
      </ul>
  </div>

    <!-- <div id="musicList" ng-repeat="artist in artists" style="border:solid;border-width:1px;width:100%;padding-right:3px;">

      {{artist.title}}
      <button class="glyphicon glyphicon-trash btn-md" ng-click="removeMusic(x);"></button>
    </div> -->
	<hr id="horisontalLine"></hr>
    <div id="start-quiz-button">
		<a ng-href="#!/quiz" style="padding-left:35%;color:white;"><button type="button" class="btn btn-warning" id="con-btn" >Start Quiz!</button></a>
    </div>
</div>
