<link rel="stylesheet" type="text/css" href="../style.css">

<div class="sidebar">
  <h2 style="text-align:center;color:white;">Settings</h2>
  <hr>
  <h4 style="text-align:center;color:white;">Nr of Questions <input type="number" style="width:50px;" ng-model="numberOfQuestions" ng-change="setNumberOfQuestions(numberOfQuestions)"/></h3>
  <h4 style="text-align:center;color:white;">Music</h2>
  <div class="sidebarTable">
    <div ng-repeat="song in music" style="border:solid;border-width:1px;width:100%;padding-right:3px;">
      <button class="glyphicon glyphicon-trash btn-md" ng-click="removeMusic(x);"></button>
    </div>
  <hr id="horisontalLine"></hr>
  <div class="item-row" id="priceAndButton">
    <h4>
    </h4>
    <div id="start-quiz-button">
      <a ng-href="#!/quiz" style="padding-left:30%;color:white;"><button type="button" class="btn btn-warning" id="con-btn" >Start Quiz!</button></a>
    </div>
  </div>
  </div>
</div>
